<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page/ registration page</title>
</head>
<body>

    {{>navbar}}
    
    <!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form >
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="" placeholder="enter your first name" ><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="" placeholder="enter your last name" ><br>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1"> male</label>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2">female</label><br>
  <input type="submit" value="Submit">
</form> 



</body>
</html>

</body>
</html>