 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>login-form</title>
 </head>
 <body>
    <form action="/login" method="post">
   <div>
    
       <input  id="email "  type="text" placeholder="Enter Email"  name="email" value="" />
      <br> <br>
        
        <input  id="password "  type="password" placeholder="Enter Password"  name="passward" value="" />
        <br> <br>
        <button type="submit" className="signupbtn">
           login
          </button>
          <a href="/register"> <strong>create an account</strong> </a>
   </div>
   </form>
 </body>
 </html>
 
