<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>registration-form</title>
</head>
<body>
  <form action="/register" method="POST"  className="registration-form">
      <div className="container">

        <p>Please fill in this form to create an account.</p>
        <hr />
        <label htmlFor="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" />
        <br> <br>
        <label htmlFor="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" />
      <br> <br>
        <label htmlFor="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" />
        <br> <br>
        <label htmlFor="passwordrepeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="passwordrepeat" />
        <br> <br>
        <div className="clearfix">
          <button type="submit" value="register" className="signupbtn">
            sign up
          </button>
        </div>


      </div>
    </form>
</body>
</html>




