<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>registration-form</title>
</head>
<body>
  <form action="/register" method="POST"  className="registration-form">
      <div className="container">

        <p>Please fill in this form to create an account.</p>
        <hr />
      
        <input  id="name "  type="text" placeholder="Enter Name"  name="fullname" value="" />
        <br> <br>
       
        <input  id="email "  type="text" placeholder="Enter Email"  name="email" value="" />
      <br> <br>
        
        <input  id="password "  type="password" placeholder="Enter Password"  name="passward" value="" />
        <br> <br>
        
        <input  id=" passwordrepeat"  type="password" placeholder="Repeat Password"  name="passwordrepeat" value="" />
        <br> <br>
        <div className="clearfix">
          <button  type="submit"   value="register" className="signupbtn"> 
            sign up 
          </button>
          <a href="/login"> <strong> Already have an account!</strong></a>
        </div>


      </div>
    </form>
</body>
</html>




